<%= simple_form_for @template, wrapper: :default do |f| %>
    <%= f.input :name %>
    <%= f.input :to %>
    <%= f.input :cc %>
    <%= f.input :subject %>
    <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'} } %>
    <%= f.button :submit %>
<% end %>

<h3>Liquid Methods</h3>
<%= render_tree(@template.liquid_method_tree).html_safe %>

<h4>Helper Methods</h4>
<%= Rooler::LiquidFilters.instance_methods.to_sentence %>