<h1>Listing rules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Klass</th>
      <th>Finder method</th>
      <th>Template</th>
      <th>Check Frequency</th>
      <th>Last Checked At</th>
      <th>Method Params</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>
        <td><%= rule.klass_name %></td>
        <td><%= rule.klass_finder_method %></td>
        <td><%= rule.template.name %></td>
        <td><%= rule.check_frequency %></td>
        <td><%= rule.last_checked_at %></td>
        <td><%= rule.method_params %></td>
        <td>
          <%= link_to 'Check now', check_rule_path(rule), method: :post %>
          <%= link_to 'Edit', edit_rule_path(rule) %>
          <%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>
